body {
  background-color: rgb(65, 196, 196, 0.5);
}
h1,
h2 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}
h1 {
  text-shadow: 2px 1px white;
}

.header {
  animation: changeColor 10s linear infinite;
}

@keyframes changeColor {
  0% {
    color: white;
  }
  25% {
    color: red;
  }
  50% {
    color: green;
  }
  100% {
    color: red;
  }
}


#checkInput {
  height: 40px;
  background-color: rgb(35, 175, 35);
  border-radius: 15%;
}
#tryAgain {
  height: 40px;
  background-color: rgb(35, 175, 35);
  border-radius: 15%;
  margin-left: 30%;
}
