
.container-1{
 display: flex;

}
.container-2{
 display: flex;
 
}

.box-1{
 flex: 1;

}
 .box-2{
  flex: 1;
  background-color: #009D66;
  color: #F2F2F2;
  

}
img{
 width: 30%;
}
.box-1 p{
 text-align: center;
}
.box-1 h2, .box-1 h1 {
text-align: center;
}

.box-2 p, .box-2 h2 {
 text-align: center;
}


